<meta charset="UTF-8">
<title>EJS Is Fun</title>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/styles/main.css">

<style>

</style>
